In [16]:
import pandas as pd
import numpy as np
import random

In [4]:
df = pd.read_csv('data_modified.csv', low_memory=False)
print(len(df))
df.head()

47786

,Unnamed: 0,Bracelet material,Brand,Case diameter,Case material,Condition,Description,Dial,Gender,Location,...,Chronograph,GMT,Tachymeter,Moon phase,Annual calendar,Perpetual calendar,Tourbillon,Flyback,Alarm,Country
0,0,Steel,Bulgari,41.0,Steel,New,[Product Information]\n\nBrand: Bulgari\nRef. ...,Black,Men's watch/Unisex,"United States of America, California, San Mateo",...,0,0,0,0,0,0,0,0,0,United States of America
1,1,Steel,Tissot,39.0,Steel,New,【Product Information】\n\nBrand: Tissot\nRef. N...,Mother of pearl,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,0,Japan
2,2,Leather,Mido,41.0,Steel,New,【Product Information】\n\nBrand: Mido\nRef. No....,Silver,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,0,Japan
3,3,Steel,Mido,42.0,Steel,New,【Product Information】\n\nBrand: Mido\nRef. No....,Black,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,0,Japan
4,6,Leather,Seiko,42.0,Steel,Unworn,【Product Information】\n\nBrand: Seiko\nRef. No...,Black,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,0,Japan

In [13]:
valid = random.sample(range(0, len(df)), int(len(df)*0.2))
len(valid)

9557

In [22]:
df['is_valid'] = 0
df.loc[valid, 'is_valid'] = 1

In [24]:
df['is_valid'].value_counts()

0    38229
1     9557
Name: is_valid, dtype: int64

In [25]:
df.head()

,Unnamed: 0,Bracelet material,Brand,Case diameter,Case material,Condition,Description,Dial,Gender,Location,...,GMT,Tachymeter,Moon phase,Annual calendar,Perpetual calendar,Tourbillon,Flyback,Alarm,Country,is_valid
0,0,Steel,Bulgari,41.0,Steel,New,[Product Information]\n\nBrand: Bulgari\nRef. ...,Black,Men's watch/Unisex,"United States of America, California, San Mateo",...,0,0,0,0,0,0,0,0,United States of America,0
1,1,Steel,Tissot,39.0,Steel,New,【Product Information】\n\nBrand: Tissot\nRef. N...,Mother of pearl,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,Japan,0
2,2,Leather,Mido,41.0,Steel,New,【Product Information】\n\nBrand: Mido\nRef. No....,Silver,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,Japan,0
3,3,Steel,Mido,42.0,Steel,New,【Product Information】\n\nBrand: Mido\nRef. No....,Black,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,Japan,0
4,6,Leather,Seiko,42.0,Steel,Unworn,【Product Information】\n\nBrand: Seiko\nRef. No...,Black,Men's watch/Unisex,"Japan, Tokyo",...,0,0,0,0,0,0,0,0,Japan,0

In [26]:
df.to_csv('data_v2.csv')

In [27]:
from fastai.vision.all import *

ModuleNotFoundError: No module named 'fastai'

In [ ]:


dblock = DataBlock(blocks=(ImageBlock, MultiCategoryBlock),
                   splitter=splitter,
                   get_x=get_x, 
                   get_y=get_y)
dls = dblock.dataloaders(df)